{% extends "base.html" %}

{% block title %}FAQ - Exclusive Cars Automotive{% endblock %}

{% block content %}
<section class="faq-section">
    <div class="container">
        <div class="section-header">
            <h2>Veelgestelde <span class="text-danger">Vragen</span></h2>
            <div class="underline"></div>
            <p>Hier vindt u antwoorden op de meest gestelde vragen</p>
        </div>

        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hoe oud moet ik zijn om een auto te kunnen huren?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Je kunt bij ons een auto huren als je minimaal 21 jaar oud bent en in het bezit bent van een geldig rijbewijs dat minstens één jaar oud is. Voor sommige luxe of sportieve voertuigen kan de minimumleeftijd hoger zijn, bijvoorbeeld 23 of 25 jaar. Controleer altijd de specifieke vereisten voor het voertuig dat je wilt huren.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Zijn alle auto's kilometer vrij?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Ja, alle voertuigen worden kilometer vrij verhuurd, tenzij anders vermeld in de voertuigbeschrijving. Dit betekent dat je zonder extra kosten zoveel kilometers kunt rijden als je zelf maar wilt tijdens de huurperiode!
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Kan ik met de auto naar het buitenland?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Uiteraard, dat is mogelijk mits dit vooraf netjes wordt doorgegeven en er goedkeuring wordt gegeven door ons. Dit geldt voor zowel binnen als voor buiten de EU.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Wanneer krijg ik mijn borg weer terug?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Bij het inleveren van het voertuig wordt deze gecontroleerd op eventuele schade en de brandstofstand. Als alles in orde is krijg je jouw borg terug, tenzij anders besproken of een van de contractuele voorwaarden niet is nageleefd.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Kan de auto ook opgehaald en afgeleverd worden op locatie?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Wij bieden een ophaal- en afleverservice aan voor een kleine meerprijs, afhankelijk van de afstand. Neem contact met ons op voor meer informatie en om de mogelijkheden te bespreken.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Hoe lang kan ik de auto huren?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        De minimale huurperiode is 1 dag (24 uur). We bieden flexibele huurperiodes aan, variërend van enkele dagen tot meerdere weken of zelfs maanden. Neem contact met ons op voor speciale verzoeken of langere huurperiodes. Houd er echter rekening mee dat de auto al gereserveerd kan zijn door een ander en verlenging dus niet altijd mogelijk is.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Wat moet ik doen bij pech?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Zorg ervoor dat het voertuig veilig geparkeerd staat. Neem vervolgens direct contact met ons op via het telefoonnummer dat in het huurcontract staat vermeld. We zullen je zo snel mogelijk assisteren en vervolg stappen nemen.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Wat als ik een boete heb gekregen tijdens het huren van de auto?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Je bent zelf verantwoordelijk voor eventuele boetes of verkeersregels die tijdens de huurperiode worden overtreden. Indien wij een boete ontvangen, zullen wij deze aan jou doorberekenen, inclusief eventuele administratiekosten.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Hoeveel bedraagt het eigen risico bij schade aan de auto?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Hеt еigеn risico verschilt per auto. Verder is het nodig om aantoonbaar dе bеstuurdеr tе zijn gеwееst op hеt momеnt van het ongeluk/schadе.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Onder welke omstandigheden wordt er (deels) borg ingehouden?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Dе borg kan (dеels) ingehoudеn wordеn bij schadе aan dе auto, ovеrtreding van vеrkееrsrеgеls of als dе auto niеt tijdig wоrdt ingelеvеrd. Verder is het niet toegestaan om met dе auto tе roken of huisdiеrеn mее tе nеmеn zonder ovеrеenkomst. Mochten er andere contractuele voorwaarden niet zijn nageleefd, zoals een andere bestuurder dan op het contract of reparatie/aanpassingen aan het voertuig dan wordt direct het volledige bedrag ingehouden als boete, zelfs als er geen schade is ontstaan.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Kan ik de auto zelf wassen?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Nee, het is niet toegestaan om de auto zelf te wassen. Onze auto's hebben een Keramische coating, wij zorgen ervoor dat alle voertuigen professioneel worden gereinigd en onderhouden om de hoogste kwaliteit te garanderen voor onze klanten.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwelve">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        Kan ik de reservering annuleren of wijzigen?
                    </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Het opgeven van een wijziging of annulering dient minsen 24 uur van te voren te gebeuren. Bij annulering binnen 24 uur voor de huurperiode worden er annuleringskosten in rekening gebracht, afhankelijk van de specifieke voorwaarden van de reservering. Neem contact met ons op om de mogelijkheden te bespreken.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThirteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        Zijn er situaties waarbij ik als huurder niet verzekerd ben?
                    </button>
                </h2>
                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Als huurder ben je niet verzekerd in situaties zoals rijden onder invloed van alcohol of drugs, deelname aan illegale activiteiten, het rijden zonder geldig rijbewijs, het overtreden van verkeersregels, het gebruik van de auto voor racen of off-road activiteiten, en het niet naleven van de huurvoorwaarden. In dergelijke gevallen ben je volledig aansprakelijk voor eventuele schade of kosten en de volledige borg kwijt.
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center mt-5">
            <p class="text-muted mb-3">Heeft u nog andere vragen?</p>
            <a href="{{ url_for('contact') }}" class="btn btn-danger btn-lg">
                <i class="bi bi-envelope"></i> Neem Contact Op
            </a>
        </div>
    </div>
</section>
{% endblock %}
