name: Deploy to production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 49.13.169.171
          username: hamza
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/apps/Exclusive-Cars-Automotive
            git pull origin main
            source venv/bin/activate
            sudo systemctl restart exclusivecars
